
*{
    margin: 0;
}
.parent{
    background-color: aqua;
    width:  100%;
    height: 75px;
    display: flex;
    
}
.box1{
    height: 75px;
    width: 25%;
    background-color: aquamarine;

}
.box2{
   height: 75px;
   width: 75%;
   margin: 25px;
}
ul{
    text-align: center;
   
}
list{
    font-size: 30px;
    
    padding: 25px
}
a{
    text-decoration: none;
   
}